{% extends "base_generic.html" %}

    <!-- START THE FEATURETTES -->
    {% block content %}

    {% load static %}

    {% for group in group_list %}

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></h2>
      </div>
      <div class="col-md-5">
        <img src="{{ MEDIA_URL }}{{ group.logo.name }}" height="250">
      </div>
    </div>

    {% endfor %}

    <hr class="featurette-divider">
    {% endblock %}
    <!-- /END THE FEATURETTES -->