{% extends "base_generic.html" %}

    <!-- START THE FEATURETTES -->
    {% block content %}

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ group.name }} </h2>
        <h3><span class="text-muted">{{ group.origin }}</span></h3>
        <p class="lead">{{ group.bio }}</p>

          <h3><span class="text-muted">Albums</span></h3>
            {% for album in group.albums.all %}
              <div>{{ album.name }}, {{ album.release_year }}</div>
              <div> <img src="{{ MEDIA_URL }}{{ album.cover_photo.name }}" height="100"></div>
            {% endfor %}
      </div>

      <div class="col-md-5">
        <img src="{{ MEDIA_URL }}{{ group.photo.name }}" height="250">
        <p class="lead">
          <dl>
            <div>Members</div>
            {% for musician in group.members.all %}
                <li><a href="{{ musician.get_absolute_url }}">{{ musician }}</a></li>
            {% endfor %}
          </dl>
      </div>
    </div>

    <hr class="featurette-divider">
    {% endblock %}
    <!-- /END THE FEATURETTES -->