{% extends "base_generic.html" %}

    <!-- START THE FEATURETTES -->
    {% block content %}

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ group.name }} </h2>
        <h3><span class="text-muted">{{ group.origin }}</span></h3>
        <p class="lead">{{ group.bio }}</p>

          <h3><span class="text-muted">Discography</span></h3>
            {% for album in group.albums.all %}
              <div>{{ album.name }}, {{ album.release_year }}</div>
              <p><img src="{{ MEDIA_URL }}{{ album.cover_photo.name }}" height="150"></p>
            {% endfor %}
      </div>

      <div class="col-md-5">
        <img src="{{ MEDIA_URL }}{{ group.photo.name }}" height="250">
        <p class="lead"></p>
        <h3><span class="text-muted">Members</span></h3>
          {% for musician in group.members.all %}
            <div><a href="{{ musician.get_absolute_url }}">{{ musician }}</a></div>
          {% endfor %}
      </div>
    </div>

    <hr class="featurette-divider">
    {% endblock %}
    <!-- /END THE FEATURETTES -->