{% extends "base_generic.html" %}

    <!-- START THE FEATURETTES -->
    {% block content %}
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h1><a href="{{ musician.group.get_absolute_url }}">{{ musician.group }}</a></h1>
        <h2 class="featurette-heading">{{ musician.alias }} </h2>
        <h2 class="featurette-heading">{{ musician.first_name }} {{ musician.last_name }} </h2>
        <h3><span class="text-muted">{{ musician.hometown }}</span></h3>
        <p class="lead">{{ musician.hometown }}</p>

      </div>
      <div class="col-md-5">
        <img src="{{ MEDIA_URL }}{{ musician.photo.name }}" height="350">
        <p class="lead">
      </div>
    </div>

    <hr class="featurette-divider">
    {% endblock %}
    <!-- /END THE FEATURETTES -->